@media (min-width: 1px) and (max-width: 767px)
{
    nav a{
        display: none;
    }
    .hero-content{
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        flex-direction: column-reverse;
    }
    .hero-content img{
        width: 200px;
        margin-inline: 2px;
        height: 250px;
    }
    .mt-0{
        width: 200px !important;
        text-align: center !important;
    }
    .margin-top{
        margin-top: 5px !important;
    }
    .diaplay-6{
        font-size: 20px !important;
    }
    .card{
        width: 5em !important;
        height: 10em !important;
        gap: 0px !important;
    }
    .card img{
        width: 100% !important;
        height: 100% !important;
    }
    .card h5{
        font-size: 5px !important;
    }
    .remark{
        font-size: 5px !important;
    }
    
}
@media (min-width: 768px) and (max-width: 1020px)
{
    .hero-content img{
        width: 300px !important;
        margin-right: 2px !important;
        height: 300px !important;
        
    }
}