@media (min-width: 1px) and (max-width: 767px)
{
    nav a{
        display: none;
    }
    .hero-content{
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        flex-direction: column-reverse;
    }
    .hero-content img{
        width: 200px;
        margin-inline: 10px;
        height: 250px;
    }
}